{
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "pluginSearchDirs": false,
  "tailwindConfig": "./tailwind.config.js",
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 88,
  "editor.formatOnSave": true,
  "proseWrap": "always",
  "tabWidth": 2,
  "requireConfig": false,
  "useTabs": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "semi": true
}
